# Logs
logs
*.log
*env
*.env
.*.env

# Mac
.DS_Store
*coverages

# Secrets
githubToken.js

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
